language: go

go:
  - 1.6
  - tip

before_script:
  - go install ./...
  - go get github.com/alecthomas/gometalinter
  - gometalinter --install --update
  - GO15VENDOREXPERIMENT=1 gometalinter --dupl-threshold 100 --cyclo-over 12 --deadline 120s ./...
