# -*- shell-script -*-

# Sample environment file. Copy this to ./env.sh and adjust to your liking to use the run scripts

# Needed for ./run-docker.sh
_DOCKER_ACCOUNT=<your dockerhub account>
_DOCKER_HOST_PORT=8666
# Optional /var/log/xyz mount
_DOCKER_HOST_VAR=/tmp/mesos-complainer

# Common
COMPLAINER_MASTERS="http://mesos0:5050,http://mesos1:5050,http://mesos2:5050"
COMPLAINER_LOGLEVEL="Debug"
#COMPLAINER_LOGFILE="/var/log/mesos-complainer/complainer.log"
PORT=8080

# Live
#COMPLAINER_UPLOADER="s3aws"
#COMPLAINER_REPORTERS="slack,file"
#S3_ACCESS_KEY="AKI...."
#S3_SECRET_KEY="...."
#S3_REGION="eu-west-1"
#S3_BUCKET="my-bucket"
#S3_PREFIX="complainer-prod/{{ .failure.Finished.UTC.Format \"2006-01-02\" }}/{{ .failure.Name }}/{{ .failure.Finished.UTC.Format \"2006-01-02T15:04:05.000\" }}-{{ .failure.ID }}"
#SLACK_HOOK_URL="https://hooks.slack.com/services/...."
#SLACK_USERNAME="Mesos Cluster"
#SLACK_CHANNEL="#mesos"
#SLACK_ICON_EMOJI=":mesos:"
#SLACK_FORMAT="Task {{ .failure.Name }} ({{ .failure.ID }}) died with status {{ .failure.State }} [<{{ .stdoutURL }}|stdout>, <{{ .stderrURL }}|stderr>]{{if config \"mentions\"}} | {{ config \"mentions\" }}{{ .nl }}{{end}}"
#FILE_NAME="/tmp/mesos-complainer-file-reporter.out"

# Testing
COMPLAINER_UPLOADER="noop"
COMPLAINER_REPORTERS="file"
FILE_NAME="/var/log/mesos-complainer/mesos-complainer-file-reporter.out"
